@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--height);
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideUpFromBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideDownToBottom {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

[data-scope='collapsible'][data-part='content'][data-state='open'] {
  animation: slideDown 250ms;
}

[data-scope='collapsible'][data-part='content'][data-state='closed'] {
  animation: slideUp 200ms;
}

[data-scope='dialog'][data-part='backdrop'][data-state='open'] {
  animation: fadeIn 200ms ease-out forwards;
}

[data-scope='dialog'][data-part='backdrop'][data-state='closed'] {
  animation: fadeOut 200ms ease-in forwards;
}

[data-scope='dialog'][data-part='content'][data-state='open'] {
  animation: slideUpFromBottom 0.2s ease-out forwards;
}

[data-scope='dialog'][data-part='content'][data-state='closed'] {
  animation: slideDownToBottom 0.2s ease-in forwards;
}

[data-scope='tooltip'][data-part='content'][data-state='open'] {
  animation: fadeIn 150ms ease-out forwards;
}

[data-scope='tooltip'][data-part='content'][data-state='closed'] {
  animation: fadeOut 100ms ease-in forwards;
}

[data-scope='tabs'][data-part='indicator'] {
  bottom: 0 !important;
  top: auto !important;
  height: 2px !important;
  width: var(--width) !important;
  transition: left 250ms ease-out, width 250ms ease-out !important;
}
